* {
    font-family: 'Montserrat';
}


header {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    width: 100vw;
    height: 100%;
    background: #009999
}

section {
    border: 5px #009999 solid;
    background-color: peachpuff;
    text-align: center;
    padding: 10px;
}

nav {
    position: absolute;
    right: 0px; 
    /* margin-top: 35px; */
}

header h1 {
    font-size: 50px;
    color: whitesmoke;
}

h1 {
    font-size: 30px;
     margin: 10px;
}

h3 {
    font-size: 20px;
    margin-top: 10px;
}

article {
    background-color: #009999;
    border: 5px solid silver;
    margin: 5px;
   
}

footer {
    padding: 15px;
    text-align: center;
    border: 5px #009999 solid;
    background-color: #009999;
    color: whitesmoke;
}

.photogallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

#first-project {
    flex-grow: 2;
}

#first-img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
 }

 #my-work {
     border-bottom: none;
     padding: 5px;
 }


a:visited {
    color: white;
}

@media screen and (max-width: 768px) {
    nav {
      display: flex;
      flex-direction: column;
      background-color: olive;
      color: black;
      border: 2px solid black;
      margin: 10px;
    }

    section {
        border: 5px black solid;
        background-color: olive;
        text-align: center;
        color: white;
    }
}