:root {

}

header {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    width: 100vw;
    height: 100%;
    background: #009999
}

section {
    border: 5px peachpuff solid;
    text-align: center;
}

nav {
    position: absolute;
    right: 0px; 
    margin-top: 10px;
}

header h1 {
    font-size: 30px;
    color: whitesmoke;
}


h1 {
    font-size: 30px;
}

article {
    border: 2px black solid;

}


img {
    max-width: 100%;
}

.photogallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

#first-project {
    flex-grow: 2;
}

#first-img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
 }

a:visited {
    color: white;
}

@media screen and(max-width: 900px;){
    .column {
        width: 50%;
    }
    }

@media screen and(max-width 576px;){
    nav {
        display: block;
        justify-content: center;
    
    }
}