/* Color variables */
:root {
    --teal: #009999;
    --olive: olive;
    --black: black;
}

/* Rules for Header*/
header {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    height: 100%;
    background: var(--teal)
}

/* Rules for every section */
section {
    border: 5px var(--teal) solid;
    background-color: peachpuff;
    text-align: center;
    padding: 10px;
}

/* Rules for nav bar */
nav {
    position: absolute;
    right: 0px; 
    margin-top: 35px;
    color: var(--black);
}

/* Rules for h1 inside header section */
header h1 {
    font-size: 50px;
    color: white;
}

/* All other h1 rules */
h1 {
    font-size: 40px;
     margin: 10px;
     font-family: 'Montserrat';
}

/* h2 rules */
h2 {
    font-size: 25px;
    margin-top: 10px;
}

/* Rules for every article */
article {
    background-color: var(--teal);
    border: 5px solid silver;
    margin: 5px;

}

/* Rules for footer */
footer {
    padding: 15px;
    text-align: center;
    border: 5px var solid;
    background-color: var(--teal);
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    color: black;
}

/* Changes email link to white */
a[href^="mailto"] { color: white; }


/* How images in 'My Work' section look when not hovered */
.pre-hover {
    opacity: 0.5;
}

/* How images in 'My Work' section look upon hover */
.pre-hover:hover {
    opacity: 1.0;
}

/* Rules for images projects 2-4 */
.photogallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 /* Rules to make image fit containers and become flexible with screen size */
 .flex-image {
    display: inline-block;
    justify-content: center;
    max-width: 100%;
    margin:0 auto;
}

/* Removing borders and adding padding to 'My Work' Section */
 #my-work {
     border-bottom: none;
     padding: 5px;
 }
 
 /* Border styling for 'projects' section to make section even */
 #noborder {
     border-top: none;
     border-bottom: none;
 }

  /* Border styling for 'projects' section to make section even */
 #notopborder {
     border-top: none;
 }

section a {
    color:black;
}
 /* Makes nav links white instead of the default blue */
a:visited {
    color: white;
}


/* For different media screens */
@media sreen and(max-wdith: 992px){
    img {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        flex-shrink: 2;
    } 
}

@media screen and (max-width: 768px) {
    nav {
      display: flex;
      flex-direction: column;
      background-color: var(--olive);
      color: var(--black);
      border: 2px solid var(--black);
      margin: 10px;
    }

    section {
        border: 5px var(--black) solid;
        background-color: var(--olive);
        text-align: center;
        color: white;
    }

    img {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-shrink: 2;
    }

    article {
        border: 5px khaki solid;
    }
}
